html {
    margin: 0;
    padding: 0;
}
/*  Cuerpo */
body {
    font-family: 'Arial';
    font-size: 12pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}

/*  Encabezado */
header {
    background-image: url("img/encabezado.png");
    background-size: cover;
}
/*  Imagen del Encabezado */
header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
/*  Parafo del Encabezado */
header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}


/*  Tabla */
table {
    width: 100%;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

/*  Para los FORM */
form {
    text-align: center;
    width: 100%;
    margin-top: 0;
}
/*  textarea tamano*/
textarea {
  height: 100px;
  }
  /*  input y texarea */
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    align-items: center;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
/*  botones submit y button */
.boton {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.boton:hover {
    background-color: #43a09d;
}
/*   Imagenes Circulares */
.img-circulo {
    border: 3px solid lightblue;
    border-radius: 50%;
}
/*   Estilo de los div o diferentes separadores */
.estilo_bloque {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/*  Para la seccion de redes sociales */
#redes_sociales {
    text-align: center;
    color: #4997d0;
}
#redes_sociales img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#redes_sociales a {
    text-decoration: none;
}
#redes_sociales img:hover {
    opacity: 0.8;
}

/*  Pie de la pagina */
footer{
  background-color: #4997d0;
  padding: 5px;
  border-radius: 10px;
}
